# Name : Dhanish Gopal
# Saylani Batch-4 (A.I and Data Science Student)
# ID : 118222

In [4]:
user_1 = int(input("Enter your number: "))
user_2 = int(input("Enter your next number: "))

for i in range(1,user_2):
    for j in range(user_1, user_2+1):
        print(f"{j} X {i} = {i*j}", end='    ')
    print()

Enter your number: 2
Enter your next number: 7
2 X 1 = 2    3 X 1 = 3    4 X 1 = 4    5 X 1 = 5    6 X 1 = 6    7 X 1 = 7
2 X 2 = 4    3 X 2 = 6    4 X 2 = 8    5 X 2 = 10    6 X 2 = 12    7 X 2 = 14
2 X 3 = 6    3 X 3 = 9    4 X 3 = 12    5 X 3 = 15    6 X 3 = 18    7 X 3 = 21
2 X 4 = 8    3 X 4 = 12    4 X 4 = 16    5 X 4 = 20    6 X 4 = 24    7 X 4 = 28
2 X 5 = 10    3 X 5 = 15    4 X 5 = 20    5 X 5 = 25    6 X 5 = 30    7 X 5 = 35
2 X 6 = 12    3 X 6 = 18    4 X 6 = 24    5 X 6 = 30    6 X 6 = 36    7 X 6 = 42