# functions
* pre-define function/user-define function
```
sets of statments and expression are called function
decresed the repeation of code
```
    * Return function
    * Non-Return function
    * defualt funtion
    * required arguments function
    * required/optional arguments function
    * lambda function
    * recursive function
    * generator function
   
* function components
    * function declarilation/function signature
        * `def function_name(arg1_variable,arg2_variable,...):`
    * function body
    * function call
        * `function_name(arg1_value,arg2_value,..)`
        * `function_name()`

In [1]:
print("We love our country")# statement1
print("My country name is Pakistan") # statment2
print("Pakistan zinda bad")# statment3

We love our country
My country name is Pakistan
Pakistan zinda bad

In [2]:
print("We love our country")# statement1
print("My country name is Pakistan") # statment2
print("Pakistan zinda bad")# statment3

We love our country
My country name is Pakistan
Pakistan zinda bad

# defualt function
* not required any argument when it will call

In [4]:
def country_message(): # dec/sig
    #function body start
    print("We love our country")# statement1
    print("My country name is Pakistan") # statment2
    print("Pakistan zinda bad")# statment3 function body end

In [6]:
country_message()# function calling
country_message()
country_message()

We love our country
My country name is Pakistan
Pakistan zinda bad
We love our country
My country name is Pakistan
Pakistan zinda bad
We love our country
My country name is Pakistan
Pakistan zinda bad

In [7]:
def country_message(): # dec/sig
    #function body start
    print("We love our country")# statement1
    print("My country name is America") # statment2
    print("America zinda bad")# statment3 function body end

country_message()
country_message()

We love our country
My country name is America
America zinda bad
We love our country
My country name is America
America zinda bad

# create required parameter function

In [8]:
def any_country(country_name):
    print("We love our country")
    print(f"My country name is {country_name}")
    print(f"{country_name} zinda bad!")

In [9]:
any_country("Pakistan")

We love our country
My country name is Pakistan
Pakistan zinda bad!

In [10]:
any_country("China")

We love our country
My country name is China
China zinda bad!

In [11]:
any_country("USA")

We love our country
My country name is USA
USA zinda bad!

# Return and Non-Return Function

#### Non-Return Function

In [17]:
def any_country(country_name):
    print("We love our country")
    print(f"My country name is {country_name}")
    print(f"{country_name} zinda bad!")
    
a = any_country("Pakistan")
print("Value of variable a =",a)

We love our country
My country name is Pakistan
Pakistan zinda bad!
Value of variable a = None

#### Return Function

In [19]:
def any_country(country_name):
    result = f"""
    We Love our country
    My country name is {country_name}
    {country_name} Zinda Bad!
    """
    return result
    

a = any_country("Pakistan")
any_country("Japan")
b = any_country("America")
c = any_country("China")

In [20]:
print(a)
print(c)
print(b)

    We Love our country
    My country name is Pakistan
    Pakistan Zinda Bad!


    We Love our country
    My country name is China
    China Zinda Bad!


    We Love our country
    My country name is America
    America Zinda Bad!

In [21]:
a = any_country("Pakistan")
b = any_country("America")
c = any_country("China")
any_country("Japan")

'\n    We Love our country\n    My country name is Japan\n    Japan Zinda Bad!\n    '

In [22]:
print(any_country("Japan"))

    We Love our country
    My country name is Japan
    Japan Zinda Bad!

In [23]:
print(len(any_country("Japan")))

79

# card

In [28]:
def student_card(roll_no, name, timing,batch):
    card = f"""Saylani Student Card
Student ID:\t\t {roll_no}
Student Name: \t {name} 
Class Timing: \t {timing}
Batch:\t\t {batch}
"""
    return card

print(student_card(1,"Muhammad Qasim",'3pm to 6pm', 'AIDS-4'))

Saylani Student Card
Student ID:		 1
Student Name: 	 Muhammad Qasim
Class Timing: 	 3pm to 6pm
Batch:		 AIDS-4

In [29]:
data = [[1,'Muhammad Qasim','3 to 6',"AIDS-4"],
       [2,"Hamza",'7 to 10',"Web/App 9"],
       [3,"Asif Khan",'10 to 12', "web/App 9"]]

In [35]:
for row in data:
#     print(row)
    print(student_card(row[0],row[1],row[2],row[3]))
#     break

Saylani Student Card
Student ID:		 1
Student Name: 	 Muhammad Qasim
Class Timing: 	 3 to 6
Batch:		 AIDS-4

Saylani Student Card
Student ID:		 2
Student Name: 	 Hamza
Class Timing: 	 7 to 10
Batch:		 Web/App 9

Saylani Student Card
Student ID:		 3
Student Name: 	 Asif Khan
Class Timing: 	 10 to 12
Batch:		 web/App 9

In [36]:
for row in data:
#     print(student_card(row[0],row[1],row[2],row[3]))
    print(student_card(*row))

Saylani Student Card
Student ID:		 1
Student Name: 	 Muhammad Qasim
Class Timing: 	 3 to 6
Batch:		 AIDS-4

Saylani Student Card
Student ID:		 2
Student Name: 	 Hamza
Class Timing: 	 7 to 10
Batch:		 Web/App 9

Saylani Student Card
Student ID:		 3
Student Name: 	 Asif Khan
Class Timing: 	 10 to 12
Batch:		 web/App 9

# Optional parameter/defual parameters value function
* define argument value in function declaring time
* `def add_two_numbers(num1=0, num2=0):`

In [37]:
def add_two_numbers(num1, num2):
    return num1 + num2

In [38]:
add_two_numbers(7,5)

12

In [39]:
add_two_numbers(7)

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [40]:
add_two_numbers(,9)

SyntaxError: invalid syntax (2757793348.py, line 1)

In [41]:
add_two_numbers()

TypeError: add_two_numbers() missing 2 required positional arguments: 'num1' and 'num2'

In [43]:
def add_two_numbers(num1=0, num2=0):
    return num1 + num2

print(add_two_numbers())
print(add_two_numbers(6))
print(add_two_numbers(7,9))

0
6
16

# pass postional parameters/argument during calling

In [44]:
def add_two_numbers(num1=0, num2=0):
    return num1 + num2

print(add_two_numbers())
print(add_two_numbers(6))
print(add_two_numbers(7,9))

0
6
16

# key/word parameters/argument during calling

In [45]:
def add_two_numbers(num1=0, num2=0):
    return num1 + num2

print(add_two_numbers(num1=8,num2=20)) # passing value with key/words arguments
print(add_two_numbers(num2=20,num1=2))
print(add_two_numbers(num2=7))

28
22
7

In [46]:
add_two_numbers(7,9,8)

TypeError: add_two_numbers() takes from 0 to 2 positional arguments but 3 were given

# Create unlimited positional arguments for calling
* add ***** before any parameter during decrlaring time
* `def my_sum(num1,*value):`

In [48]:
def my_sum(num1,num2):
    print(num1,num2)
    return num1 + num2

my_sum(7,9)

16

In [50]:
def my_sum(num1,*value):
    print(num1,value)
    print(type(num1), type(value))
   

my_sum(7,9)

7 (9,)
<class 'int'> <class 'tuple'>

In [53]:
def my_sum(num1,*value):
    print(num1,value)
    print(type(num1), type(value))
    result = num1
    for n in value:
        result += n
    return result
   

my_sum(7,9,1,3,5)

7 (9, 1, 3, 5)
<class 'int'> <class 'tuple'>

25

# Create unlimited key/word arguments for calling
* add <b>**</b> before any parameter during decrlaring time
* `def my_sum(num1,**value):`

In [54]:
def abc(**values):
    print(values)
    print(type(values))
    
abc(num1=7, tea=2, milk='1 KG')

{'num1': 7, 'tea': 2, 'milk': '1 KG'}
<class 'dict'>

# Create function with required argument, optional, ulimited positional, ulimited key/word argument

In [58]:
def my_custome_function(num1,num2=7, *value1, **dict1):
    print("Required positioanl Argument num1 = ", num1, type(num1))
    print("Positional defual parameter value argument num2 = ", num2, type(num2))
    print("postional ulimited arguments value1 = ", value1, type(value1))
    print("key/word ulimited arguments dict1 = ", dict1, type(dict1))
my_custome_function(200)

Required positioanl Argument num1 =  200 <class 'int'>
Positional defual parameter value argument num2 =  7 <class 'int'>
postional ulimited arguments value1 =  () <class 'tuple'>
key/word ulimited arguments dict1 =  {} <class 'dict'>

In [62]:
my_custome_function(200,100,'a','b','c',tea=7,milk='1 KG')

Required positioanl Argument num1 =  200 <class 'int'>
Positional defual parameter value argument num2 =  100 <class 'int'>
postional ulimited arguments value1 =  ('a', 'b', 'c') <class 'tuple'>
key/word ulimited arguments dict1 =  {'tea': 7, 'milk': '1 KG'} <class 'dict'>

In [68]:
my_custome_function(200,0,'a','b','c',tea=7,milk='1 KG')

Required positioanl Argument num1 =  200 <class 'int'>
Positional defual parameter value argument num2 =  0 <class 'int'>
postional ulimited arguments value1 =  ('a', 'b', 'c') <class 'tuple'>
key/word ulimited arguments dict1 =  {'tea': 7, 'milk': '1 KG'} <class 'dict'>

In [69]:
def std_card(roll_no, name, *skills):
    print("Student Roll no:", roll_no)
    print("Student Name:", name)
    print("Skills:")
    for s in skills:
        print("\t",s)

std_card(1,"Muhammad Qasim", "python",'java','typescript','solidity')

Student Roll no: 1
Student Name: Muhammad Qasim
Skills:
	 python
	 java
	 typescript
	 solidity

In [70]:
std_card(2,"hamza","HTML","CSS","JavaScript")

Student Roll no: 2
Student Name: hamza
Skills:
	 HTML
	 CSS
	 JavaScript

In [71]:
std_card(2,"hamza","HTML","CSS","JavaScript",2000)

Student Roll no: 2
Student Name: hamza
Skills:
	 HTML
	 CSS
	 JavaScript
	 2000

In [78]:
def add_two_num(num1:int , num2:int) -> int:
    return num1 + num2

add_two_num(7,7)

14

In [79]:
add_two_num('7','7')

'77'

# Lambda function

In [80]:
def add_two_num(num1,num2):
    return num1 + num2

In [82]:
a = lambda num1,num2: num1 + num2
a(7,9)

16

In [86]:
l = [[1,'a','Z'],
    [2,'b','Y'],
    [3,'c',"X"]]
l

[[1, 'a', 'Z'], [2, 'b', 'Y'], [3, 'c', 'X']]

In [94]:
sorted(l, key=lambda x:x[2])

[[3, 'c', 'X'], [2, 'b', 'Y'], [1, 'a', 'Z']]

# Generator Function

In [95]:
def my_range(start,end):
    for i in range(start,end+1):
        yield i
        
        
a = my_range(1,10)
print(a)

<generator object my_range at 0x000002767BEAB270>

In [101]:
a = my_range(1,10)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5
6
7
8
9
10

In [103]:
a = my_range(1,10)

In [109]:
print(next(a))

6

In [102]:
a = my_range(1,10)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Recursive Function

In [1]:
def abc():
    return "A"# return on first occurance return keyword
    print("Pakistan")
    return "B"

print(abc())

A

In [6]:
def count_down(x):
    print(x)
    if x == 0:
        return 0
    return count_down(x - 1)
    
count_down(5)

5
4
3
2
1
0

0

In [7]:
def countdown(n):
    print(n)
    if n == 0:
        return             # Terminate recursio
    else:
        countdown(n - 1) 
countdown(5)

5
4
3
2
1
0

In [8]:
l = [1,2,3,4,5]

l + 2

TypeError: can only concatenate list (not "int") to list

In [9]:
l = [1,2,3,4,5]

def abc(x):
    return x + 2 * 3
map(abc, l)

In [10]:
l = [1,2,3,4,5]

def abc(x):
    return x + 2 * 3
list(map(abc, l))

[7, 8, 9, 10, 11]

In [13]:
l = [1,2,3,4,5]

list(map(lambda x:x+2*3, l))

[7, 8, 9, 10, 11]

In [15]:
l = [1,2,3,4,5]
list(filter(lambda x:x%2==0, l))

[2, 4]

In [16]:
red

Object `reduce` not found.

<img src="https://qissba.com/wp-content/uploads/2022/07/Precedance-Order-of-Operators.jpg">

In [12]:
print(2*3 * (7+2)) # PEMDAS/BODMAS
print(2*3 * 7+2)

54
44

In [ ]:
# 2*3 * (7+2)
# 2*3 * 9
# 6 * 9
# 54

# Assignment
sort dictionary based on their values.