In [1]:
import numpy as np
import pandas as pd

In [10]:
data = [["Milk","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Dill","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
       ["Milk","Apple","Kidney Beans","Eggs"],
       ["Milk","Unicorn","Corn","Kidney Beans","Yogurt"],
       ["Corn","Onion","Kidney Beans","Ice Cream","Eggs"]]

display(data)

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

# Transform raw data into Machine Learning

## preprocessing start

In [11]:
from mlxtend.preprocessing import TransactionEncoder

!pip install mlxtend

In [12]:
te = TransactionEncoder()

te_array = te.fit(data).transform(data)
te_array

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [13]:
te.columns_

['Apple',
 'Corn',
 'Dill',
 'Eggs',
 'Ice Cream',
 'Kidney Beans',
 'Milk',
 'Nutmeg',
 'Onion',
 'Unicorn',
 'Yogurt']

In [14]:
te.columns_mapping_

{'Apple': 0,
 'Corn': 1,
 'Dill': 2,
 'Eggs': 3,
 'Ice Cream': 4,
 'Kidney Beans': 5,
 'Milk': 6,
 'Nutmeg': 7,
 'Onion': 8,
 'Unicorn': 9,
 'Yogurt': 10}

In [15]:
df = pd.DataFrame(te_array, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

# End preprocessing

# Now apply Appriori and FPGrowth

In [23]:
from mlxtend.frequent_patterns import fpgrowth
support = 0.6
fpgrowth(df, min_support=support)

    support   itemsets
0       1.0        (5)
1       0.8        (3)
2       0.6       (10)
3       0.6        (8)
4       0.6        (6)
5       0.8     (3, 5)
6       0.6    (10, 5)
7       0.6     (8, 3)
8       0.6     (8, 5)
9       0.6  (8, 3, 5)
10      0.6     (5, 6)

In [24]:
rec1 = fpgrowth(df, min_support=support, use_colnames=True)
rec1

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Kidney Beans, Eggs)
6       0.6       (Kidney Beans, Yogurt)
7       0.6                (Onion, Eggs)
8       0.6        (Kidney Beans, Onion)
9       0.6  (Kidney Beans, Onion, Eggs)
10      0.6         (Milk, Kidney Beans)

# Now purchase one product and then predict/show .6 support items

In [40]:
purchase_item = "Milk"

predict_items = fpgrowth(df, min_support=0.6, use_colnames=True)
print(predict_items.itemsets.values[0], type(predict_items.itemsets.values[0]))

predict_items['itemsets'] = predict_items['itemsets'].apply(str)
print(predict_items.itemsets.values[0], type(predict_items.itemsets.values[0]))


predict_items[predict_items.itemsets.str.contains(purchase_item)]

frozenset({'Kidney Beans'}) <class 'frozenset'>
frozenset({'Kidney Beans'}) <class 'str'>

    support                             itemsets
4       0.6                  frozenset({'Milk'})
10      0.6  frozenset({'Milk', 'Kidney Beans'})

# Appriori VS FPGrowth

In [43]:
%%time
purchase_item = "Milk"
ration = 0.6
predict_items = fpgrowth(df, min_support=ration, use_colnames=True)
print(predict_items.itemsets.values[0], type(predict_items.itemsets.values[0]))

predict_items['itemsets'] = predict_items['itemsets'].apply(str)
print(predict_items.itemsets.values[0], type(predict_items.itemsets.values[0]))


pred1 = predict_items[predict_items.itemsets.str.contains(purchase_item)]
display(pred1)

frozenset({'Kidney Beans'}) <class 'frozenset'>
frozenset({'Kidney Beans'}) <class 'str'>

    support                             itemsets
4       0.6                  frozenset({'Milk'})
10      0.6  frozenset({'Milk', 'Kidney Beans'})

Wall time: 7.87 ms

In [44]:
from mlxtend.frequent_patterns import fpgrowth, apriori

In [46]:
%%time
purchase_item = "Milk"
ration = 0.6
predict_items = apriori(df, min_support=ration, use_colnames=True, low_memory=True)
print(predict_items.itemsets.values[0], type(predict_items.itemsets.values[0]))

predict_items['itemsets'] = predict_items['itemsets'].apply(str)
print(predict_items.itemsets.values[0], type(predict_items.itemsets.values[0]))


pred2 = predict_items[predict_items.itemsets.str.contains(purchase_item)]
display(pred2)

frozenset({'Eggs'}) <class 'frozenset'>
frozenset({'Eggs'}) <class 'str'>

   support                             itemsets
2      0.6                  frozenset({'Milk'})
7      0.6  frozenset({'Milk', 'Kidney Beans'})

Wall time: 61.5 ms