# Python Operators
Operators are used to perform operations on variables and values.<br>

In the example below, we use the + operator to add together two values:

<img src="./Untitled1.png">    
Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [1]:
#    opd opr opd
print(2    +         2)# 4 addition operation
print(2 + 7)# 9 addition operation

4
9

In [2]:
num1 = 7
num2 = 3

print(num1 + num2) # addtion operation

10

In [4]:
num1 = "1"
num2 = "1"

print(num1 + num2)# concatination

11

In [5]:
num1 = "1" # string
num2 = 2 # intiger

print(f"num1:{type(num1)}  num2: {type(num2)}")
print(num1 + num2)# concatination

num1:<class 'str'>  num2: <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [6]:
num1 = 2 # int
num2 = "3" # str

print(f"num1:{type(num1)}  num2: {type(num2)}")
print(num1 + num2)# concatination

num1:<class 'int'>  num2: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
l1 = ['a','b','c']
l2 = [1,2,3]

print(f"num1:{type(l1)}  num2: {type(l2)}")
print(l1,l2)
print(l1 + l2)# combine two list

num1:<class 'list'>  num2: <class 'list'>
['a', 'b', 'c'] [1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

# Python Arithmetic Operators

In [15]:
x = """Operator	Name	Example
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y""".expandtabs(20)
print(x)

'<h1>Python Arithmetic Operators</h1>'

Operator            Name                Example
+                   Addition            x + y
-                   Subtraction         x - y
*                   Multiplication      x * y
/                   Division            x / y
%                   Modulus             x % y
**                  Exponentiation      x ** y
//                  Floor division      x // y

In [16]:
x = 10
y = 2

print(x + y)

12

In [17]:
x = 10
y = 2

print(x - y)

8

In [18]:
x = 10
y = 2

print(x * y)

20

In [19]:
x = 10 # int
y = 2 # int

print(x / y) # float

5.0

<img src="./Untitled.png">

In [20]:
x = 11
y = 3

print(x % y)

2

In [22]:
x = 2
y = 2

print(x ** y)
print(2 ** 3)

4
8

In [27]:
print(5 / 2)
print(5 // 2)
print(24 / 13)
print(24 // 13)

2.5
2
1.8461538461538463
1

# Python Assignment Operators
Assignment operators are used to assign values to variables:

In [32]:
a = 5

print(a)
print(a)
print(a)
print(a)

5
5
5
5

In [37]:
a = 5        # 5
print(a)
#   5 + 1
a = a + 1    #6
print(a)
a += 1
print(a)
a += 1
print(a)

5
6
7
8

In [36]:
a = 1     # Assign new value
print(a)
a = 3     # overwrite old value with 3
print(a)
a = 7    # overwrite
print(a)
a = 5   # overwrite

print(a)

1
3
7
5

In [39]:
a =  10
print(a)

a -= 1   # new way
print(a)

a = a -1 #old way

print(a)

10
9
8

In [41]:
a =  10
print(a)

a *= 2   # new way
print(a)

10
20

In [42]:
a =  10
print(a)

a **= 2   # new way
print(a)

10
100

In [43]:
a =  10
print(a)

a /= 2   # new way
print(a)

10
5.0

In [44]:
a =  10
print(a)

a //= 2   # new way
print(a)

10
5

<img src="./binary.PNG">

In [48]:
x = 65
x = x & 65

print(x)

65

In [49]:
x = 65
x = x & 66

print(x)

64

# Python Comparison Operators

In [50]:
a = 5
b = 5

print(a == b)

True

In [51]:
a = 5
b = 7

print(a == b)

False

In [52]:
a = 5
b = 8

#     5   8
print(a > b)

False

In [56]:
a = 9
b = 5

print(a <= b)

False

In [57]:
a = 5
b = 5
#     5    5
print(a != b)

False

In [58]:
a = 'qasim'
b = 'qasim'

print(a == b)

True

In [61]:
a = 'qasim'
b = '7'

print(a > b)

True

In [62]:
chr(65)

'A'

In [63]:
ord('7')

55

In [68]:
ord('q')

113

In [66]:
ord('Q')

81

In [70]:
a = '65'
b = '66'

print(a > b)
print(a == b)
print(a < b)

False
False
True

In [71]:
a = 65
b = '66'

print(a > b)
print(a == b)
print(a < b)

TypeError: '>' not supported between instances of 'int' and 'str'

# Python Logical Operators
Logical operators are used to combine conditional statements:

In [73]:
#      l    op  l    op  l    op  l
print(True and True and True and True) # True
print(True and True and False and True) #False
print(False and True and True and False) #False
print(False and False and False and True) #False
print(False and False and False and False)# False

True
False
False
False
False

In [ ]:
#      l    op  l    op  l    op  l
print(True and True and True and True) # True
print(True and True and False and True) #False
print(False and True and True and False) #False
print(False and False and False and True) #False
print(False and False and False and False)# False

In [76]:
#      l    op  l    op  l    op  l
print(True or True or True or True) # True
print(True or True or False or True) #True
print(False or True or True or False) #True
print(False or False or False or True) #True
print(False or False or False or False)# False

True
True
True
True
False

In [77]:
not True

False

In [ ]:
not

In [81]:
password = input("enter your password")

print(password=='abc') # False
print(not password=='abc') # True
print(not True)# False
print(not False)# True
print(password)# text

enter your passwordMuhammad Qasim
False
True
False
True
Muhammad Qasim

# Shallow copy

In [83]:
a = 5
b = 5
c = 5

print(id(a), id(b), id(c))
print(a)
print(b)
print(c)

2181584415152 2181584415152 2181584415152
5
5
5

In [86]:
a = 5
b = 5

print(id(a), id(b))

2181584415152 2181584415152

In [87]:
a is b # check on memory level

True

In [85]:
b = 5
print(id(b))

2181584415152

# Deep copy

In [92]:
saylani = ["qasim"]
student = saylani.copy() # deep copy

print(saylani, student)
print(id(saylani), id(student))
print(saylani == student)
print(saylani is student)

['qasim'] ['qasim']
2181703122432 2181702799808
True
False

In [93]:
saylani = ["qasim"]
student = saylani.copy() # deep copy

print(saylani, student)
print(id(saylani), id(student))
print(saylani == student)
print(saylani is not student)

['qasim'] ['qasim']
2181703926400 2181703904896
True
True

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [97]:
message = "pakistan zinda bad we love our country!"

print('zinda' in message)
print('Zinda' in message)
print("Qasim" in message)

True
False
False

In [99]:
names = ['Qasim','Hamza','Junaid',"Yasir"]

print('Hamza' in names)
print("Asif" in names)

True
False

In [100]:
names = ['Qasim','Hamza','Junaid',"Yasir"]
'Qasim' not in names

False

In [ ]:
x = 01000001
y = 01000001
x = 01000001

a = 01000001 # new code

127000/5000

for n in range(1,27):
    end = n*5000
    start = end - 5000
    print(n,start,end)
    df3 = df3.iloc[start:end,:]