In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
l = ['a','b','c']
display(type(l))
display(l)

list

['a', 'b', 'c']

In [10]:
l = np.array(['a','b','c'])
display(type(l))
display(l)

numpy.ndarray

array(['a', 'b', 'c'], dtype='<U1')

# Series Data type in pandas

In [11]:
l = pd.Series(['a','b','c'])
display(type(l))
display(l)

pandas.core.series.Series

0    a
1    b
2    c
dtype: object

In [12]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]

display(type(l))
display(l)

list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
l = np.array([[1,2,3],
    [4,5,6],
    [7,8,9]])

display(type(l))
display(l)

numpy.ndarray

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
l = pd.DataFrame([[1,2,3],
                  [4,5,6],
                  [7,8,9]])

display(type(l))
display(l)

pandas.core.frame.DataFrame

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# How we can create Series in pandas?
* list
* tuple
* dictionary
* 1-D array
* list for index and list for values

In [15]:
l = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
display(type(l))
display(l)


l = pd.Series(l)
display(type(l))
display(l)

list

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

pandas.core.series.Series

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object

In [16]:
l = tuple('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
display(type(l))
display(l)


l = pd.Series(l)
display(type(l))
display(l)

tuple

('A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z')

pandas.core.series.Series

0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
13    N
14    O
15    P
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object

In [17]:
l = set('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
display(type(l))
display(l)


l = pd.Series(l)
display(type(l))
display(l)

set

{'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z'}

TypeError: 'set' type is unordered

In [ ]:
l = {
    "A":"Pakistan",
    "B":"China",
    "C":"America"
}

display(type(l))
display(l)


l = pd.Series(l)
display(type(l))
display(l)

In [ ]:
i = ["A","B","C"]
v = [100,200,300]

l = pd.Series(v,i)
display(l)
l = pd.Series(data=v, index=i)
display(l)

In [ ]:
n = np.random.randint(1,100, 10)
display(n)

pd.Series(n)

In [ ]:
l = [100,200,300]


l = pd.Series(l, name='abcd')
display(type(l))
display(l)

In [ ]:
l = [100,200,300]


l = pd.Series(l, name='abcd', dtype=np.int32)
display(type(l))
display(l)

# How can we create dataframe in pandas?
* matrics
    * list of list
    * tupl of tuple
* dictionary
* 2-D array
* dataframe attributes
    * dtype
    * shape

In [ ]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]

df = pd.DataFrame(l)
df

In [ ]:
l = ((1,2,3),
    (4,5,6),
    (7,8,9))

df = pd.DataFrame(l)
df

In [ ]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]

n = np.array(l)

df = pd.DataFrame(n)
df

In [ ]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]

n = np.array(l)

df = pd.DataFrame(n, columns=["id",'name','cnic'])
df

In [ ]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]

n = np.array(l)

df = pd.DataFrame(n, 
                  columns=["id",'name','cnic'],
                 index=['a','b','c'])
df

# dataframe components
* column index
* row index
* values

In [ ]:
display(df)

display(df.columns)
display(df.index)
display(df.values)